<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seucxxy.csd.backend.mapper.SubjectMapper">
    <resultMap id="SubjectResultMap" type="seucxxy.csd.backend.entity.Subject">
        <id property="subjectId" column="subject_id"/>
        <result property="subjectName" column="subject_name"/>
    </resultMap>

    <select id="findAllSubjects" resultMap="SubjectResultMap">
        SELECT * FROM subjects
    </select>

    <select id="findSubjectsByUsername" resultType="String" parameterType="String">
        SELECT DISTINCT exam_paper_subject FROM exam_paper WHERE id IN
            (SELECT exam_paper_id FROM user_test_record WHERE user_id IN
            (SELECT id FROM users WHERE username = #{username}))
    </select>

    <select id="findSubjectBySubjectName" resultMap="SubjectResultMap" parameterType="String">
        SELECT * FROM subjects WHERE subject_name = #{name}
    </select>

    <select id="findSubjectById" resultMap="SubjectResultMap" parameterType="int">
        SELECT * FROM subjects WHERE subject_id = #{id}
    </select>


    <insert id="insertSubject" parameterType="Subject" useGeneratedKeys="true" keyProperty="subjectId">
        INSERT INTO subjects(subject_name) VALUES(#{subjectName})
    </insert>

    <update id="updateSubject">
        UPDATE subjects SET subject_name = #{newSubject.subjectName}
        WHERE subject_id = #{subjectId}
    </update>

    <delete id="deleteSubject">
        DELETE FROM subjects WHERE subject_id = #{subjectId}
    </delete>
</mapper>